@model IEnumerable<Avesdo.Models.Customers>

@{
    ViewData["Title"] = "Index";
}

<h1>Customer</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-primary">Create</button></a>
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip_code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip_code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId"><button type="button" class="btn btn-success">Edit</button></a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerId"><button type="button" class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
